 

.timeContainer  {
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
    background-color: #222222;
    padding-bottom: 10px;
    width: 600px;
}

#timeDisplay {
  font-size: 76px;
  font-family: consolas, monospace;
  color: #40c437;
}

.button {
   width: 80px;
   height: 30px;
   border: 1px solid;
   border-radius: 12px;
   background-color: rgb(96, 80, 98);
   font-weight: 400;
   color: white;
   cursor: pointer;
   font-family: consolas, monospace;
  
 }

 .button:hover {
   background-color: rgb(201, 179, 180);
   color: rgb(176, 166, 167);
   border: 2px solid rgb(175, 166, 166);
   transition: all 200ms;

 }